<div *ngIf="question">
    <h2>{{question.qnaString}}</h2>
    <p>Asked by: {{ question.poster.name }}</p>
    <p>Upvotes: {{ question.upvotes }}; Downvotes: {{ question.downvotes }}; Answers: {{ question.answers.length }}</p>
    <h3>Answers:</h3>
    <ul>
        <li *ngFor="let answer of question.answers">
            <h4>{{answer.qnaString}}</h4>
            <p>Answered by: {{ answer.poster.name }}</p>
            <p>Upvotes: {{ answer.upvotes }}; Downvotes: {{ answer.downvotes }}</p>
        </li>
    </ul>
    <div>
    <label for="answer-input">Respond with an Answer here: </label>
    <input id="answer-input" [(ngModel)]="answerInput" placeholder="Your answer here...">
    </div>
</div>