<div class="container">
  <div class="py-5 text-center">
    <h2 style="color: #26608c">Release Contact Details</h2>
  </div>

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Contact Details</h4>

          <div class="row">
            <!-- Display contact details on the left -->
            <div class="col-md-15">
              <!-- Display contact details here -->
              <p><strong>Name:</strong> {{ assignedTutorId }} </p>
              <p><strong>Email:</strong> Ggwp.com.sg </p>
              <p><strong>Phone:</strong> +65-999</p>


              <h4 class="card-title">Tuition Timing Summary</h4>

              <!-- Display tuition timing summary here -->
              <p><strong>Course:</strong> {{ acadLvl }} - {{ acadSubject }}  </p>
              <p><strong>Days:</strong> {{ schedule }} </p>
              <p><strong>Transaction ID:</strong> {{ transactionId }} </p>
            </div>
          </div>
          <hr>

          <!-- Additional information or actions can be added here -->
          <p class="text-muted">Please protect the data of the contact released. </p>
        </div>
      </div>
    </div>
  </div>
</div>





