<div class="pt-4">
    <h1>Questions & Answers Board!</h1>
    <p>For students: Ask questions and find tutors that are active, helpful, and answers in your preferred style!</p>
    <p>For tutors: Answer questions and get matched with students who are actively looking for tutors, as well as get points for activeness and helpfulness!</p>

    <p>Currently logged in as {{ loggedInUser==undefined? "NULL": loggedInUser.name }}</p>

    <h2>Questions List</h2>
    <ul>
        <li *ngFor="let question of questionsList">
            <h3>{{ question.qnaString }}</h3>
            <p>Asked by: {{ question.poster.name }}</p>
            <p>Upvotes: {{ question.upvotes }}; Downvotes: {{ question.downvotes }}; Answers: {{ question.answers.length }}</p>
            <button type="button" (click)="onViewQuestion(question)" [class.selected]="question === selectedQuestion">View Question</button>
        </li>
    </ul>

    <br>
    <app-qna-view-question [question]="selectedQuestion"></app-qna-view-question>
</div>
  